SuperTrump/SuperTrump/SourceCode/ASP.NET/SuperTrumpWebService_New/Schemas/Schemas/backup_05172007/PRMParamsInfoXML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="FILE_DATA" type="xs:base64Binary"/>
	<xs:element name="FILE_NAME" type="xs:string"/>
	<xs:element name="FULLTERMRATEALLIN">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LENDINGRATE">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="NUMBEROFPAYMENTS">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PAYMENTTIMING">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PERIODICITY">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_FILE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FILE_NAME"/>
				<xs:element ref="FILE_DATA"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_PARAMS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRM_PARAMS_SPECS"/>
				<xs:element ref="PRM_FILE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_PARAMS_INFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRM_PARAMS" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_PARAMS_SPECS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TRANSACTIONAMOUNT" minOccurs="0"/>
				<xs:element ref="TRANSACTIONSTARTDATE" minOccurs="0"/>
				<xs:element ref="RESIDUALAMOUNT" minOccurs="0"/>
				<xs:element ref="STRUCTURE" minOccurs="0"/>
				<xs:element ref="PERIODICITY" minOccurs="0"/>
				<xs:element ref="PAYMENTTIMING" minOccurs="0"/>
				<xs:element ref="NUMBEROFPAYMENTS" minOccurs="0"/>
				<xs:element ref="TARGETDATA" minOccurs="0"/>
				<xs:element ref="LENDINGRATE" minOccurs="0"/>
				<xs:element ref="RESULTS" minOccurs="0"/>
				<xs:element ref="FEES" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RESIDUALAMOUNT">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FEES">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RESULTS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FULLTERMRATEALLIN" minOccurs="0"/>
				<xs:element ref="STREAM" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="STREAM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TOTAL"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="STRUCTURE">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TARGETDATA">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TRANSACTIONAMOUNT">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TRANSACTIONSTARTDATE">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TOTAL">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
