SuperTrump/SuperTrump/SourceCode/ASP.NET/SuperTrumpWebService_New/BSCEFSuperTrump/.Net/BusinessServices/Schemas/backup_02152006/PRMInfoXML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ADJUST">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Rent"/>
				<xs:enumeration value="Loan lend: payments => rates"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ADJUSTMENTMETHOD">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Level"/>
				<xs:enumeration value="Proportional"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FILE_NAME" type="xs:string"/>
	<xs:element name="MODE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Lender"/>
				<xs:enumeration value="Lessor"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NEPA">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Pre-tax effective"/>
				<xs:enumeration value="Pre-tax nominal"/>
				<xs:enumeration value="After-tax effective"/>
				<xs:enumeration value="After-tax nominal"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NUMBEROFPAYMENTS" type="xs:int"/>
	<xs:element name="PAYMENTTIMING">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Advance"/>
				<xs:enumeration value="Arrears"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PERIODICITY">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Annual"/>
				<xs:enumeration value="Monthly"/>
				<xs:enumeration value="Quarterly"/>
				<xs:enumeration value="Semiannual"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PRM_FILE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRM_META_DATA"/>
				<xs:element ref="PRM_PARAMS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_INFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRM_FILE" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_META_DATA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FILE_NAME"/>
				<xs:element ref="TEMPLATE_NAME"/>
				<xs:element ref="MODE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_PARAMS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TRANSACTIONAMOUNT"/>
				<xs:element ref="TRANSACTIONSTARTDATE"/>
				<xs:element ref="RESIDUALAMOUNT" minOccurs="0"/>
				<xs:element ref="NUMBEROFPAYMENTS"/>
				<xs:element ref="PERIODICITY"/>
				<xs:element ref="PAYMENTTIMING"/>
				<xs:element ref="STRUCTURE"/>
				<xs:element ref="TARGETDATA"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RESIDUALAMOUNT" type="xs:decimal"/>
	<xs:element name="STATISTICINDEX">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="STRUCTURE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Level"/>
				<xs:enumeration value="Low/High"/>
				<xs:enumeration value="High/Low"/>
				<xs:enumeration value="1st &amp; Last"/>
				<xs:enumeration value="1st &amp; Last 2"/>
				<xs:enumeration value="1st &amp; Last 3"/>
				<xs:enumeration value="Other"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TARGETDATA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TYPEOFSTATISTIC"/>
				<xs:element ref="STATISTICINDEX"/>
				<xs:element ref="NEPA"/>
				<xs:element ref="TARGETVALUE"/>
				<xs:element ref="ADJUST"/>
				<xs:element ref="ADJUSTMENTMETHOD"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TARGETVALUE" type="xs:decimal"/>
	<xs:element name="TEMPLATE_NAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="USA 5 MACRS.tem"/>
				<xs:enumeration value="USA quasi (non-tax) lease 2002.tem"/>
				<xs:enumeration value="USA loan 2002.tem"/>
				<xs:enumeration value="NMHGFS Core loan 2002 08.tem"/>
				<xs:enumeration value="NMHGFS Core tax lease (bonus) 2002 08.tem"/>
				<xs:enumeration value="NMHGFS quasi (non-tax) lease 2002 08.tem"/>
				<xs:enumeration value="NMHGFS Tax Lease 50 Percent Bonus.tem"/>
				<xs:enumeration value="NMHGFS Tax Lease.tem"/>
				<xs:enumeration value="DFS Core Loan 2005.tem"/>
				<xs:enumeration value="DFS Core tax lease 2005.tem"/>
				<xs:enumeration value="DFS quasi (non-tax) lease 2005.tem"/>
				<xs:enumeration value="NMHGFS Core Loan 2005.tem"/>
				<xs:enumeration value="NMHGFS Core tax lease 2005.tem"/>
				<xs:enumeration value="NMHGFS quasi (non-tax) lease 2005.tem"/>
				<xs:enumeration value="BFS loan fixed rate.tem"/>
				<xs:enumeration value="BFS quasi (non-tax) lease fixed rate.tem"/>
				<xs:enumeration value="BFS tax lease fixed rate.tem"/>
				<xs:enumeration value="Trans Fin quasi (non-tax) lease float rate.tem"/>
				<xs:enumeration value="Trans Fin loan fixed rate.tem"/>
				<xs:enumeration value="Trans Fin loan float rate.tem"/>
				<xs:enumeration value="Trans Fin quasi (non-tax) lease fixed rate.tem"/>
				<xs:enumeration value="Trans Fin tax lease fixed rate.tem"/>
				<xs:enumeration value="Trans Fin tax lease float rate.tem"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TRANSACTIONAMOUNT" type="xs:decimal"/>
	<xs:element name="TRANSACTIONSTARTDATE" type="xs:date"/>
	<xs:element name="TYPEOFSTATISTIC">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Yield"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
