SuperTrump/SuperTrump/SourceCode/ASP.NET/SuperTrumpWebService_New/BSCEFSuperTrump/.Net/BusinessServices/Schemas/Schemas/backup_02152006/MQMessageInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CORRELATION_ID" type="xs:hexBinary"/>
	<xs:element name="MESSAGE_DATA" type="xs:string"/>
	<xs:element name="MESSAGE_ID" type="xs:hexBinary"/>
	<xs:element name="MQ_MESSAGE_INFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MESSAGE_ID"/>
				<xs:element ref="MESSAGE_DATA"/>
				<xs:element ref="REPLY_QUEUE_MANAGER"/>
				<xs:element ref="REPLY_QUEUE"/>
				<xs:element ref="CORRELATION_ID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="REPLY_QUEUE" type="xs:string"/>
	<xs:element name="REPLY_QUEUE_MANAGER" type="xs:string"/>
</xs:schema>
