SuperTrump/SuperTrump/SourceCode/ASP.NET/WebServices/Schemas/PRMFileListXML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by mdsouza (GE) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="FILE_DATA" type="xs:base64Binary"/>
	<xs:element name="FILE_NAME" type="xs:string"/>
	<xs:element name="PRM_FILE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FILE_NAME"/>
				<xs:element ref="FILE_DATA"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_FILE_LIST">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRM_FILE" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
