SuperTrump/SuperTrump/SourceCode/ASP.NET/SuperTrumpWebService_New/BSCEFSuperTrump/.Net/BusinessServices/Schemas/backup/PricingRepInfoXML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="FILE_DATA" type="xs:base64Binary"/>
	<xs:element name="FILE_NAME" type="xs:string"/>		
	<xs:element name="PRICING_REPORT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRM_FILE"/>
				<xs:element ref="REPORT_LIST"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRICING_REPORT_INFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRICING_REPORT" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_FILE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FILE_NAME"/>
				<xs:element ref="FILE_DATA"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="REPORT_LIST">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="REPORT_TYPE" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="REPORT_TYPE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="AGGRE001.$CU"/>
				<xs:enumeration value="WIRE_H01.$BA"/>
				<xs:enumeration value="WIRE_H01.$CS"/>
				<xs:enumeration value="WIRE_H16.$CU"/>
				<xs:enumeration value="TV_Q_002.$XG"/>
				<xs:enumeration value="LEASE001.$BA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
