SuperTrump/SuperTrump/SourceCode/ASP.NET/SuperTrumpWebService_New/BSCEFSuperTrump/.Net/BusinessServices/backup/PricingRequestInfoXML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ADJUST">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Rent"/>
				<xs:enumeration value="Loan lend: payments =&gt; rates"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ADJUSTMENTMETHOD">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Level"/>
				<xs:enumeration value="Proportional"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BALLOON">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="COMMENCEMENTDATE">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="FILE_DATA" type="xs:base64Binary"/>
	<xs:element name="FILE_NAME" type="xs:string"/>
	<xs:element name="FULLTERMRATEALLIN">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GEBUSINESS">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GEPRODUCT">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LENDINGRATE">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MODE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Lender"/>
				<xs:enumeration value="Lessor"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NEPA">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Pre-tax effective"/>
				<xs:enumeration value="Pre-tax nominal"/>
				<xs:enumeration value="After-tax effective"/>
				<xs:enumeration value="After-tax nominal"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NUMBEROFPAYMENTS">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PAYMENTSType">
		<xs:sequence>
			<xs:element name="PAYMENT" type="PAYMENTType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PAYMENTType">
		<xs:sequence>
			<xs:element name="NUMBEROFPAYMENTS" type="xs:int"/>
			<xs:element name="AMOUNT" type="xs:decimal"/>
			<xs:element name="AMOUNTLOCKED" type="xs:boolean"/>
			<xs:element name="PAYMENT_TYPE" type="PAYMENT_TYPEType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PAYMENTTIMING">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="PAYMENTTIMINGType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Advance"/>
			<xs:enumeration value="Arrears"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PAYMENT_TYPEType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PAYMENT"/>
			<xs:enumeration value="STUB"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PERIODICITY">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="PERIODICITYType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Annual"/>
			<xs:enumeration value="Monthly"/>
			<xs:enumeration value="Quarterly"/>
			<xs:enumeration value="Semiannual"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PRICING_REQUEST_INFO">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="PRM_FILE_AND_AMORT_SCHED_INFO"/>
				<xs:element ref="PRM_PARAMS_AND_AMORT_SCHED_INFO"/>
				<xs:element ref="PRM_FILE_AND_AMORT_SCHED_INFO2"/>
				<xs:element ref="PRM_FILE_AMORT_SCHED_AND_PRM_PARAMS_INFO"/>
				<xs:element ref="PRM_FILE_AMORT_SCHED_AND_PRM_PARAMS_INFO2"/>
				<xs:element ref="PRM_PARAMS_AMORT_SCHED_AND_NO_PRM_FILE_INFO"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_FILE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FILE_NAME"/>
				<xs:element ref="FILE_DATA"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_FILE_AND_AMORT_SCHED">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRM_META_DATA"/>
				<xs:element ref="PRM_PARAMS"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_FILE_AND_AMORT_SCHED2">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRM_META_DATA"/>
				<xs:element ref="PRM_PARAMS"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_FILE_AND_AMORT_SCHED_INFO">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="PRM_FILE_AND_AMORT_SCHED"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_FILE_AND_AMORT_SCHED_INFO2">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="PRM_FILE_AND_AMORT_SCHED2"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_META_DATA">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FILE_NAME"/>
				<xs:element ref="TEMPLATE_NAME"/>
				<xs:element ref="MODE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_PARAMS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TRANSACTIONAMOUNT" type="xs:decimal"/>
				<xs:element name="TRANSACTIONSTARTDATE" type="xs:date"/>
				<xs:element name="RESIDUALAMOUNT" type="xs:decimal" minOccurs="0"/>
				<xs:element name="NUMBEROFPAYMENTS" type="xs:int" minOccurs="0"/>
				<xs:element name="PERIODICITY" type="PERIODICITYType"/>
				<xs:element name="PAYMENTTIMING" type="PAYMENTTIMINGType"/>
				<xs:element name="STRUCTURE" type="STRUCTUREType" minOccurs="0"/>
				<xs:element name="TARGETDATA" type="TARGETDATAType" minOccurs="0"/>
				<xs:element name="COMMENCEMENTDATE" type="xs:date" minOccurs="0"/>
				<xs:element name="TOTALEXPENSEFEES" type="xs:decimal" minOccurs="0"/>
				<xs:element name="TOTALINCOMEFEES" type="xs:decimal" minOccurs="0"/>
				<xs:element name="LENDINGRATE" type="xs:decimal" minOccurs="0"/>
				<xs:element name="BALLOON" type="xs:decimal" minOccurs="0"/>
				<xs:element name="PAYMENTS" type="PAYMENTSType" minOccurs="0"/>
				<xs:element name="GEBUSINESS" type="xs:string" minOccurs="0"/>
				<xs:element name="GEPRODUCT" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_FILE_AMORT_SCHED_AND_PRM_PARAMS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRM_META_DATA"/>
				<xs:element ref="PRM_PARAMS"/>
				<xs:element ref="PRM_PARAMS_SPECS"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_FILE_AMORT_SCHED_AND_PRM_PARAMS2">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRM_META_DATA"/>
				<xs:element ref="PRM_PARAMS"/>
				<xs:element ref="PRM_PARAMS_SPECS"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_PARAMS_AMORT_SCHED_AND_NO_PRM_FILE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRM_META_DATA"/>
				<xs:element ref="PRM_PARAMS"/>
				<xs:element ref="PRM_PARAMS_SPECS"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_FILE_AMORT_SCHED_AND_PRM_PARAMS_INFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRM_FILE_AMORT_SCHED_AND_PRM_PARAMS" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_FILE_AMORT_SCHED_AND_PRM_PARAMS_INFO2">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRM_FILE_AMORT_SCHED_AND_PRM_PARAMS2" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_PARAMS_AMORT_SCHED_AND_NO_PRM_FILE_INFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRM_PARAMS_AMORT_SCHED_AND_NO_PRM_FILE" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_PARAMS_AND_AMORT_SCHED">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRM_PARAMS_SPECS"/>
				<xs:element ref="PRM_FILE"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_PARAMS_AND_AMORT_SCHED_INFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRM_PARAMS_AND_AMORT_SCHED" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRM_PARAMS_SPECS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TRANSACTIONAMOUNT" minOccurs="0"/>
				<xs:element ref="TRANSACTIONSTARTDATE" minOccurs="0"/>
				<xs:element ref="RESIDUALAMOUNT" minOccurs="0"/>
				<xs:element ref="STRUCTURE" minOccurs="0"/>
				<xs:element ref="PERIODICITY" minOccurs="0"/>
				<xs:element ref="PAYMENTTIMING" minOccurs="0"/>
				<xs:element ref="NUMBEROFPAYMENTS" minOccurs="0"/>
				<xs:element ref="TARGETDATA" minOccurs="0"/>
				<xs:element ref="RESULTS" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RESIDUALAMOUNT">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RESULTS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FULLTERMRATEALLIN" minOccurs="0"/>
				<xs:element ref="STREAM" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="STREAM">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TOTAL"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="STATISTICINDEX">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="STRUCTURE">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="STRUCTUREType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Level"/>
			<xs:enumeration value="Low/High"/>
			<xs:enumeration value="High/Low"/>
			<xs:enumeration value="1st &amp; Last"/>
			<xs:enumeration value="1st &amp; Last 2"/>
			<xs:enumeration value="1st &amp; Last 3"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="TARGETDATA">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="TARGETDATAType">
		<xs:sequence>
			<xs:element ref="TYPEOFSTATISTIC"/>
			<xs:element ref="STATISTICINDEX"/>
			<xs:element ref="NEPA"/>
			<xs:element ref="TARGETVALUE"/>
			<xs:element ref="ADJUST"/>
			<xs:element ref="ADJUSTMENTMETHOD"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TARGETVALUE" type="xs:decimal"/>
	<xs:element name="TEMPLATE_NAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="USA 5 MACRS.tem"/>
				<xs:enumeration value="USA quasi (non-tax) lease 2002.tem"/>
				<xs:enumeration value="USA loan 2002.tem"/>
				<xs:enumeration value="NMHGFS Core loan 2002 08.tem"/>
				<xs:enumeration value="NMHGFS Core tax lease (bonus) 2002 08.tem"/>
				<xs:enumeration value="NMHGFS quasi (non-tax) lease 2002 08.tem"/>
				<xs:enumeration value="NMHGFS Tax Lease 50 Percent Bonus.tem"/>
				<xs:enumeration value="NMHGFS Tax Lease.tem"/>
				<xs:enumeration value="DFS Core Loan 2005.tem"/>
				<xs:enumeration value="DFS Core tax lease 2005.tem"/>
				<xs:enumeration value="DFS quasi (non-tax) lease 2005.tem"/>
				<xs:enumeration value="NMHGFS Core Loan 2005.tem"/>
				<xs:enumeration value="NMHGFS Core tax lease 2005.tem"/>
				<xs:enumeration value="NMHGFS quasi (non-tax) lease 2005.tem"/>
				<xs:enumeration value="BFS loan fixed rate.tem"/>
				<xs:enumeration value="BFS quasi (non-tax) lease fixed rate.tem"/>
				<xs:enumeration value="BFS tax lease fixed rate.tem"/>
				<xs:enumeration value="Trans Fin quasi (non-tax) lease float rate.tem"/>
				<xs:enumeration value="Trans Fin loan fixed rate.tem"/>
				<xs:enumeration value="Trans Fin loan float rate.tem"/>
				<xs:enumeration value="Trans Fin quasi (non-tax) lease fixed rate.tem"/>
				<xs:enumeration value="Trans Fin tax lease fixed rate.tem"/>
				<xs:enumeration value="Trans Fin tax lease float rate.tem"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TOTALEXPENSEFEES">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TOTALINCOMEFEES">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TRANSACTIONAMOUNT">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TRANSACTIONSTARTDATE">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TYPEOFSTATISTIC">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Yield"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TOTAL">
		<xs:complexType>
			<xs:attribute name="query" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
